<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{description}}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

<body>
    <style>
        body {
            background: #0e1014 url(https://infisical.com/images/squares.svg) no-repeat center 3.5rem;
            color: #fcfdf7;
            font-family: Ubuntu, Arial, Helvetica, sans-serif;
            text-align: center;
        }
        pre {
            margin: 0;
            padding: 0;
        }
        a {
            text-decoration: none;
            color: #badc58;
            border-color: #badc58;
            border-width: .1rem;
            border-radius: 1rem;
            border-style: solid;
            padding: .1rem .5rem;
            font-weight: bold;
            line-height: 3rem;
        }
        .footer {
            font-size: .75rem;
            margin-bottom: 5rem;
        }
        h3 {
            font-weight: normal;
        }
        p {
            font-size: .85rem;
            margin: 0;
            color: #949494;
        }
        .green-box {
            background: #badc58;
            color: #0e1014;
            border-color: #badc58;
            border-width: .2rem;
            border-radius: .5rem;
            border-style: solid;
            padding: .6rem 2.2rem;
            font-weight: bold;
            font-size: 1.5rem;
        }
        .yellow-badge {
            background: #f1c40f;
            color: #0e1014;
            border-color: #d1a909;
            border-width: .1rem;
            border-radius: 1rem;
            border-style: solid;
            padding: .2rem .5rem;
            font-weight: bold;
            font-size: .8rem;
        }
        .code {
            background: #0e1014;
            border-color: #2c2f34;
            border-width: .2rem;
            border-radius: 1rem;
            border-style: dashed;
            padding: .6rem 2.2rem;
            padding-right: 0rem;
            font-weight: bold;
            font-size: 3rem;
            letter-spacing: .8em;
        }
        .button {
            background: rgba(187, 220, 88, 0.15);
            color: #badc58;
            padding: .5rem 2.5rem;
            font-weight: bold;
            font-size: 1.5rem;
        }
        .gradient-text {
            background-image: linear-gradient(to right, rgb(56, 189, 248), rgb(186, 220, 88));
            background-clip: text;
            color: transparent;
        }
        .social {
            width: 1.3rem;
        }
    </style>

    <!-- HEADER -->

    <a
        style="
            border: 0;
            display:block;
            margin-top: 4rem;"
        target="_blank"
        href="https://infisical.com"
    >
        <!-- todo: define a permanent location for this logo somewhere on github, infisical servers, or CDN -->
        <img
            style="
                width: 8rem;
                height: 6rem;"
            alt="Infisical"
            src="https://app.infisical.com/_next/image?url=%2Fimages%2Fbiglogo.png&w=128&q=75"
        />
    </a>

    <!-- CONTENT -->

    <section
        style="
            border: #171b21 solid .1rem;
            border-radius: .6rem;
            max-width: 500px;
            margin-top: 2rem;
            padding: 1rem 4rem;
            background-color: #171b21;
            margin-left:auto;
            margin-right:auto;"
    >
        <h1 class="green-box" style="margin-top: -2.5rem;">Account Recovery</h1>
        <h2 style="margin-top: 2.5rem;" >Forgot your password? 🤔</h2>
        <h3>Don't worry, we got your back!</h3>
        <p style="font-size: .75rem;">Click the button below to reset your password</p>
    
        <a
            class="button"
            style="
                display: block;
                margin-top: 2rem;
                margin-bottom: -.5rem;
                margin-right: -1rem;
                width: fit-content;
                margin-right: auto;
                margin-left: auto;"
            href="{{callback_url}}?token={{token}}&to={{email}}"
        >
            Reset password
        </a>
        <span class="yellow-badge">Valid 1 day</span>
        <p
            style="
                margin-top: 2.5rem;
                font-size: .7rem;"
        >
            If you didn't initiate this request, ignore and delete this email
            and please contact us immediately at <a href="mailto:team@infisical.com" title="Contact us">team@infisical.com</a>
        </p>

        <p style="
            font-size: .5rem;"
        >Can't use the button above? Try pasting this link in your browser :</br>
            <a
                style="
                    border: 0;
                    line-height: 1rem;"
                href="{{callback_url}}?token={{token}}&to={{email}}"
            >
                {{callback_url}}?token={{token}}&to={{email}}
            </a>
        </p>

    </section>

    <!-- SOCIALS -->

    <section
        style="
        margin-top:2rem;
        margin-bottom:0"    
    >
        <!-- https://github.com/simple-icons/simple-icons#cdn-usage -->
        <a class="social-link" style="border: 0;" target="_blank" href="https://github.com/Infisical">
            <img class="social" alt="Github" title="Github" src="https://cdn.simpleicons.org/github/fcfdf7" />
        </a>
        <a class="social-link" style="border: 0;" target="_blank" href="https://www.twitter.com/infisical/">
            <img class="social" alt="Twitter" title="Twitter" src="https://cdn.simpleicons.org/twitter/fcfdf7" />
        </a>
        <a class="social-link" style="border: 0;" target="_blank" href="https://join.slack.com/t/infisical-users/shared_invite/zt-1kdbk07ro-RtoyEt_9E~fyzGo_xQYP6g">
            <img class="social" alt="Slack" title="Slack" src="https://cdn.simpleicons.org/slack/fcfdf7" />
        </a>
        <a class="social-link" style="border: 0;" target="_blank" href="https://www.linkedin.com/company/infisical/">
            <img class="social" alt="LinkedIn" title="LinkedIn" src="https://cdn.simpleicons.org/linkedin/fcfdf7" />
        </a>
    </section>

    <!-- FOOTER -->

    <section class="footer">
        <p>Copyright © {{year}} Infisical Inc.</p>
        <p style="margin-top: 1rem;">
            <a style="line-height: 0;" target="_blank" href="https://infisical.com/" title="Infisical Website">website</a>
            <a style="line-height: 0;" target="_blank" href="https://infisical.com/docs" title="Infisical Documentation">docs</a>
        </p>
    </section>
</body>

</html>