<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Incident alert: {{pluralize(numberOfTotalLeakedSecrets, 'secret')}} leaked</title>
</head>

<body>
  <h3>
    Infisical has uncovered
    {{#if numberOfNewSecrets}}
      {{numberOfNewSecrets}} new leaked {{pluralize(numberOfNewSecrets, 'secret')}}
    {{/if}}

    {{#if numberOfUnresolvedSecrets}}
      {{#if numberOfNewSecrets}}, {{/if}}
      {{numberOfUnresolvedSecrets}} unresolved leaked {{pluralize(numberOfUnresolvedSecrets, 'secret')}}
    {{/if}}

    {{#if numberOfUnrevokedResolvedSecrets}}
      {{#if (or numberOfNewSecrets numberOfUnresolvedSecrets)}}, {{/if}}
      {{numberOfUnrevokedResolvedSecrets}} unrevoked leaked {{pluralize(numberOfUnrevokedResolvedSecrets, 'secret')}}
    {{/if}}

    from your recent push
  </h3>
  <p><a href="https://app.infisical.com/secret-scanning"><strong>View leaked {{pluralize(numberOfTotalLeakedSecrets, 'secret')}}</strong></a></p>
  <p>
    You are receiving this notification because {{numberOfTotalLeakedSecrets === 1 ? 'a secret leak has' : 'one or more secret leaks have'}} been detected in a recent commit pushed by {{pusher_name}} ({{pusher_email}}).
    If {{numberOfTotalLeakedSecrets === 1 ? 'this is a test secret' : 'these are test secrets'}}, please add `infisical-scan:ignore` at the end of the line containing the {{pluralize(numberOfTotalLeakedSecrets, 'secret')}} as a comment in the given programming. This will prevent future notifications from being sent out for {{numberOfTotalLeakedSecrets === 1 ? 'that secret' : 'those secrets'}}.
  </p>

  <p>{{numberOfTotalLeakedSecrets === 1 ? 'If this is a production secret, please rotate it immediately.' : 'If these are production secrets, please rotate them immediately.'}}</p>

  <p>Once you have taken action, be sure to update the risk {{pluralize(numberOfTotalLeakedSecrets, 'status')}} in your <a
      href="https://app.infisical.com/">Infisical
      dashboard</a>.</p>
</body>

</html>