
<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Secret Approval Request Bypassed</title>
  </head>

  <body>
    <h2>Infisical</h2>
    <h2>A secret approval request has been bypassed</h2>
    <p>A secret approval request has been merged without approval in project "{{projectName}}".</p>

    <p>
      {{requesterFullName}}
      ({{requesterEmail}}) has merged
      a secret to
      {{secretPath}}
      in the
      {{environment}}
      environment.
    </p>
    <p>
      The following reason was provided:
      <em>{{bypassReason}}</em>
    </p>

    <p>
      Go to the request panel
      <a href="{{approvalUrl}}">here</a>.
    </p>
  </body>

</html>