<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Secret Approval Request Policy Bypassed</title>
  </head>

  <body>
    <h1>Infisical</h1>
    <h2>Secret Approval Request Bypassed</h2>
    <p>A secret approval request has been bypassed in the project "{{projectName}}".</p>

    <p>
      {{requesterFullName}} ({{requesterEmail}}) has merged
      a secret to environment {{environment}} at secret path {{secretPath}}
      without obtaining the required approvals.
    </p>
    <p>
      The following reason was provided for bypassing the policy:
      <em>{{bypassReason}}</em>
    </p>

    <p>
      To review this action, please visit the request panel
      <a href="{{approvalUrl}}">here</a>.
    </p>
  </body>
</html>