<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Successful login for {{email}} from new device</title>
  </head>

  <body>
    <h2>Infisical</h2>
    <p>We're verifying a recent login for {{email}}:</p>
    <p><strong>Timestamp</strong>: {{timestamp}}</p>
    <p><strong>IP address</strong>: {{ip}}</p>
    <p><strong>User agent</strong>: {{userAgent}}</p>
    <p>If you believe that this login is suspicious, please contact {{#if isCloud}}Infisical{{else}}your administrator{{/if}} or reset your password immediately.</p>
  </body>

</html>