<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Password Setup</title>
  </head>
  <body>
    <h2>Setup your password</h2>
    <p>Someone requested to set up a password for your account.</p>
    <p><strong>Make sure you are already logged in to Infisical in the current browser before clicking the link below.</strong></p>
    <a href="{{callback_url}}?token={{token}}&to={{email}}">Setup password</a>
    <p>If you didn't initiate this request, please contact
      {{#if isCloud}}us immediately at team@infisical.com.{{else}}your administrator immediately.{{/if}}</p>

    {{emailFooter}}
  </body>
</html>