<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Your {{rotationType}} Rotation "{{rotationName}}" Failed to Rotate</title>
  </head>

  <body>
    <h2>Infisical</h2>

    <div>
      <p>{{content}}</p>
      <a href="{{rotationUrl}}?search={{rotationName}}&secretPath={{secretPath}}">
        View in Infisical to see the cause of failure.
      </a>
    </div>

    <br />
    <div>
      <p><strong>Name</strong>: {{rotationName}}</p>
      <p><strong>Type</strong>: {{rotationType}}</p>
      <p><strong>Project</strong>: {{projectName}}</p>
      <p><strong>Environment</strong>: {{environment}}</p>
      <p><strong>Secret Path</strong>: {{secretPath}}</p>
    </div>

    {{emailFooter}}
  </body>

</html>