<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{syncDestination}} Sync "{{syncName}}" Failed</title>
  </head>

  <body>
    <h2>Infisical</h2>

    <div>
      <p>{{content}}</p>
      <a href="{{syncUrl}}">
        View in Infisical.
      </a>
    </div>

    <br />
    <div>
      <p><strong>Name</strong>: {{syncName}}</p>
      <p><strong>Destination</strong>: {{syncDestination}}</p>
      <p><strong>Project</strong>: {{projectName}}</p>
      {{#if environment}}
          <p><strong>Environment</strong>: {{environment}}</p>
      {{/if}}
      {{#if secretPath}}
          <p><strong>Secret Path</strong>: {{secretPath}}</p>
      {{/if}}
    </div>

    {{#if failureMessage}}
      <p><b>Reason: </b>{{failureMessage}}</p>
    {{/if}}

    {{emailFooter}}
  </body>

</html>