<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Incident alert: secret leaked</title>
</head>

<body>
  <h3>Infisical has uncovered {{numberOfSecrets}} secret(s) from your recent push</h3>
  <p><a href="{{siteUrl}}/secret-scanning"><strong>View leaked secrets</strong></a></p>
  <p>You are receiving this notification because one or more secret leaks have been detected in a recent commit pushed
    by {{pusher_name}} ({{pusher_email}}). If
    these are test secrets, please add `infisical-scan:ignore` at the end of the line containing the secret as comment
    in the given programming. This will prevent future notifications from being sent out for those secret(s).</p>

  <p>If these are production secrets, please rotate them immediately.</p>

  <p>Once you have taken action, be sure to update the status of the risk in your <a
      href="{{siteUrl}}">Infisical
      dashboard</a>.</p>
</body>

</html>